doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="css/sass_training.css")
    title Sassテスト
  body
    main.main
      h2.content_ttl Sassテストタイル
