doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="css/youtube.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(type="text/javascript" src="js/youtube.js")
    title YouTubeAPIテスト
  body
    h1 YouTubeAPIテスト
    div#player
    p#vol_txt
    button#play 再生
    button#stop 一時停止
    button#vol_up 音量＋
    button#vol_down 音量－
