h2 {
  background-color: #4fbcd4;
  width: 500px;
  padding: 20px 20px 20px;
  cursor: pointer;
  transition: all .3s 0s ease;
  &:hover {
    transform: matrix(1, 0.2, 0, 1, 0, 50);
    background-color: #198b00;
    color: #fff;
    width: 800px;
  }
}
